@charset "utf-8";
/* CSS Document */

body{ background:url(../images/bj.jpg) top center no-repeat #503415;}
* { margin:0; padding:0; font-family:黑体;}
IMG { border:none;}
ul,li{ list-style:none; list-style-type:none;} 
A {	COLOR: #257ec0; TEXT-DECORATION: none}
A:hover {	COLOR: #ff7202; TEXT-DECORATION: underline}
.center{ text-align:center;}
.fl{ float:left;}
.fr{ float:right;}
.clear{ clear:both;}
.m10{ margin:10px;}
.m20{ margin:20px;}
.m30{ margin:30px;}
.pt3{ padding-top:3px;}
.pt5{ padding-top:5px;}


.con{ width:1600px; height:900px; margin:auto;}

.head{width:1600px; height:200px; margin:auto; background:url(../images/nav_bj.png) top right no-repeat;}
.logo{ width:110px; height:120px; float:left;}
.cart{ width:330px; height:30px; float:right;}
.cart li{ float:left; padding:5px;}
.cart a{ font-size:16px; color:#fff; line-height:26px;}


.nav{ width:1300px; height:80px; float:left;}
.nav ul{ padding-left:200px; padding-top:30px;}
.nav li{ float:left; padding:5px 40px;}
.nav li a{ font-size:18px; color:#fff; line-height:36px;}
.nav li a:hover{}
.nav dl{ width:auto; padding-bottom:10px; background-color:rgba(255,255,255,0.8);display:none;}
.nav dl dd{ height:20PX;padding:5px 30px; text-align:center;}
.nav dl dd a{ line-height:28px; color:#333;}
.nav li:hover{ }
.nav dd:hover{ }
.nav li:hover dl{ display:block; position:absolute}




.search{ width:770px; height:60px; float:left; margin-left:200px; margin-top:10px;}
.hot_search{ width:500px; height:60px; float:left;}
.hot_search ul{ padding-left:10px;}
.hot_search li{ float:left; padding:5px 10px;}
.hot_search li a{ font-size:16px; color:#fff; line-height:46px;}
.hot_search li a:hover{}

.main{ width:1380px; height:600px; margin:10px auto;}

.main_list{ width:340px; height:560px; float:left;}
.main_list h2{ width:330px; height:40px; background:#393836; font-size:18px; padding-left:10px; line-height:38px; color:#fff; text-align:left; float:left;}
.main_list ul{  width:340px; height:480px; background:#8c9d41; margin-top:5px; padding-top:30px;}
.main_list li{ width:200px; height:55px; padding-top:20px; margin:auto; text-align:center; background:url(../images/li_bj.png) bottom no-repeat;}
.main_list li a{ font-size:22px; color:#ddd; line-height:36px;}
.main_list li a:hover{font-size:24px; color:#fff; line-height:36px; text-decoration:none;}

.main_right{ width:1006px; height:590px; float:left; margin-left:20px;  background:url(../images/main_right.png) top left no-repeat;}


.foot{ width:1600px; height:70px; background:#393836;}
.foot ul{ width:950px; height:30px; margin:20px auto; padding-top:20px;}
.foot li{ float:left; padding:1px 20px; border-left:1px solid #ddd;}
.foot li a{ font-size:16px; color:#ddd; line-height:26px;}






